version: "1.0"
roles:
  # Administrator Group
  local_admin:
    name: Local Administrator
    description: Administrator group with full system access
    workflows: 
      - local_simple_elevation
    groups:  # Use of system groups for elevated access
      allow:
        - admin
        - administrators
        - wheel
    scopes:
      groups:
        - local:developer # Only allow roles if user is in developer group
    resources:
      allow:
        - path:/root # Only allow access to /root directory
    providers:
      - local
    enabled: true

  # Power Users Group
  local_poweruser:
    name: Local Power User
    description: Power users group with elevated privileges
    workflows: 
      - local_simple_elevation
    groups:  # Add the user to system groups
      allow:
        - poweruser
        - developers
    scopes:
      groups:
        - local:powerusers
        - local:developers
    resources:
      allow:
        - path:/home
        - path:/opt
    providers:
      - local
    enabled: true

  # Users Group
  local_user:
    name: Local User
    description: Standard users group with basic access
    workflows: 
      - local_simple_elevation
    groups:  # Add the user to system groups
      allow:
        - user
        - users
    scopes:
      groups:
        - local:users
    resources:
      allow:    
        - path:/tmp
        - path:/var/tmp
    providers:
      - local
    enabled: true

  # Operators Group
  local_operator:
    name: Local Operator
    description: System operators group with service management access
    workflows: 
      - local_simple_elevation
    groups:  # Use of system roles for elevated access
      allow:
        - operator
        - systemd-journal
    scopes:
      groups:
        - local:operators
        - sudo:operator
    resources:
      allow:
        - path:/var/log
        - path:/etc/systemd
    providers:
      - local
    enabled: true

