version: "1.0"
workflows:
  local_simple_elevation:
    description: Simple local access elevation without approval for development
    authentication: default
    enabled: true
    workflow:
      document:
        dsl: "1.0.0-alpha5"
        namespace: "thand"
        name: "local-simple-elevation"
        version: "1.0.0"
      do:
        - validate:
            thand: validate
            with:
              validator: static
            then: authorize
        - authorize:
            thand: authorize
            with:
              revocation: revoke
            then: monitor
        - monitor:
            thand: monitor
            with:
              monitor: basic
              threshold: 100
            then: revoke
        - revoke:
            thand: revoke
            then: end

