version: "1.0"
roles:
  aws_admin:
    name: Admin
    description: Full access to all resources and capabilities.
    # Define supported workflows or leave empty to be set at runtime
    authenticators:
      - google_oauth2
    workflows: 
      - slack_approval
    inherits: # allow for inclusion of IAM admin capabilities - URNS
      - aws_user
      - arn:aws:iam::aws:policy/AdministratorAccess
    permissions:  # Allow all permissions
      allow:
        - ec2:*
        - s3:*
        - rds:*
    resources:  # Allow all resources
      allow:
        - "aws:*"
    scopes:  # Only allow these scopes for role elevation
      groups:
        - oidc:user
        - oidc:eng
      users:
        - hugh@thand.io
    providers:  # Only allow these providers for role elevation
      - aws-prod
      - aws-dev
      - aws-thand-dev
    enabled: true
  aws_user:
    name: User
    description: Basic access to user resources.
    workflow: slack_approval
    inherits:
      - arn:aws:iam::aws:policy/AmazonEC2ReadOnlyAccess
      - arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess
    permissions:
      allow:
        - ec2:describeInstances
        - s3:listBuckets
    providers:
      - aws
    enabled: true
